@font-face {
  font-family: "PT Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
  url("../fonts/PTSans-Regular.woff2") format("woff2"),
  url("../fonts/PTSans-Regular.woff") format("woff");
}

